.container{
    width: 100%;
    padding: 10px 20px;
    padding-top: 50px;
}

.header{
    font-weight: 900;
}

.passwords{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid black;
}

.password{
    display: flex;
    background-color: white;
    padding: 10px;
}

.password > p{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.actionContainer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icon{
    font-size: 30px;
    cursor: pointer;
}

.icon:nth-child(1){
    border-right: 1px solid black;
    padding-right: 5px;
    font-size: 32px!important;
}

.backContainer {
    border: none;
    background-color: rgb(103, 103, 255);
    /* background-color: rgb(140, 140, 255); */
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backIcon{
    font-size: 20px;
    cursor: pointer;
}

.noPasswords{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}