.container{

} 

.navigator{
  display: flex;
}

.navigatorButtons{
  flex: 1;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: rgb(103, 103, 255);
  color: white;
}

.navigatorButtons:nth-child(1) {
  border-right: 2px solid white;
}